@model IEnumerable<Lab_1.Models.PhotoViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Gallery</h2>

@*<p>
        @using (Html.BeginForm("Upload", "Gallery", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>@Html.ValidationMessage("Error")</div>
            <div>@Html.ValidationMessage("Error")</div>

        }


    </p>*@

<div class="row">

    @foreach (var item in Model)
    {

        <div class="thumbnail col-md-3">
            @{
                string _url = Path.GetFileName(item.Path);
                <img class="img-responsive" src="~/Images/@_url" />
            }
            <div class="caption">

                @*@Html.DisplayFor(modelItem => item.Name)*@
                @*@Html.DisplayFor(modelItem => item.Description)
                    @Html.DisplayFor(modelItem => item.UploadedDate.Date)*@

            </div>
        </div>



        <div>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.PhotoID }) |
                @Html.ActionLink("Details", "Details", new { id = item.PhotoID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PhotoID })*@
        </div>


                }
</div>


